@font-face {
    font-family:Kanit;
    src: url(/Kanit/Kanit-SemiBold.ttf);
}
@font-face {
    font-family: Lobster;
    src: url(/Lobster/Lobster-Regular.ttf);
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family:Kanit;
}
nav {
    height: 80px;
    background: #3ef;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.logo{
    padding: 0 100px;
    font-style: oblique;
    font-size: 55px;
    color: rgb(37, 37, 141);
    text-decoration: underline overline;
}
ul{
    padding:0.5em;
}
ul li{
    display: inline-block;
    margin: 10px;
}
ul li a{
    color: rgb(37, 37, 141);
    font-size: 20px;
    padding: 5px;
    border-radius: 10px;
}
a.active, a:hover {
    background: #1b9bff;
    transition: .5s;
}
.bars img{
    width: 40px;
    margin: 8px;
    display: none;
}
section{
    background:linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.75)), url(/images/pexels-eberhard-grossgasteiger-2098427.jpg);
    background-size: cover;
    background-position: center;
    height: calc(100vh - 80px);
}

@media(max-width: 950px){
    .logo{
        font-size: 30px;
        padding-left: 50px;
    }
    ul li a{
        font-size: 15px;
    }
}

@media(max-width: 855px){
    .checkbtn{
        display: block;
    }
    .bars img{
        display: block;
        cursor: pointer;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgb(16, 85, 92);
        top: 80px;
        left: -100%;
        transition: all .5s;
        text-align: center;
    }
    nav ul li{
        display: block;
    }
    nav ul li a{
            font-size: 20px;
    }
    a.active, a:hover{
        background: none;
        color: #3ef;
        cursor: pointer;
    }
}